<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Week 09 | Price</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="price.css" />
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>Package Type:</td>
                    <td><%= typeName %></td>
                </tr>
                <tr>
                    <td>Package Weight:</td>
                    <td><%= weight %> oz</td>
                </tr>
                <tr>
                    <td>Applied Rate:</td>
                    <td>$<%= rate %> / oz</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>$<%= price %></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>